@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Bem-vindo</h1>
    <br />
    <a class="btn btn-primary" asp-controller="Home" asp-action="Estoque">Estoque</a>
    <a class="btn btn-secondary" asp-controller="Home" asp-action="CreateEditItem">Novo produto</a>

</div>
